    /* Style for the Blackjack Casino Game */

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-image: url('table.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: black;
        font-weight: bold;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        background-color: #ece9e9;
        border-radius: 20px;
        padding: 20px;
        width: 60%;
        border: 5px solid #000;
    }
    h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 2.5em;
    }
    #message-el {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        color: goldenrod;
        font-style: italic;
    }   
    .buttons{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        flex-direction: column;
    }    
     .buttons #start-button {
        background-color:   goldenrod; 
        width: 200px;
        border: none;
        color: #106f32;
        padding: 15px 32px;
        text-align: center;
        border: none;
        display: inline-block;
        font-size: 25px;
        cursor: pointer;
        border-radius: 12px;
        font-weight: bold;
        transition: all 0.3s ease;
     }          
     .buttons #new-card{
          background-color:   goldenrod; 
        width: 200px;
        border: none;
        color: #106f32;
        padding: 15px 32px;
        text-align: center;
        border: none;
        display: inline-block;
        font-size: 25px;
        cursor: pointer;
        border-radius: 12px;
        font-weight: bold;
        margin-top: 10px;
        transition: all 0.3s ease;
     }
    .buttons button:hover {
         scale: 1.1;
    }      
    
    #per-el{
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        font-style: italic;
    }
    